@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;500;700;900&display=swap");
.about-us-heading h1 {
    color: white;
    margin-top: 2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.about-us-content h2 {
    margin-bottom: 20px;
    padding-left: 1.6rem;
}
.about-us-content {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 3rem;
}
footer{
    padding-top: 8rem;
}