.about-us-heading h1 {
    color: rgb(39, 38, 38);
}

.about-us-content h2 {
    color: rgb(48, 46, 46);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin: 30px 0px;
    color: rgb(59, 55, 55);
}

.about-us-content {
    font-size: 18px;
}