.member-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
}

.card-header img {
    width: 280px;
    max-height: 300px;
}

section h1 {
    text-align: center;
    padding: 30px;
}

.card-body h3, h4 {
    text-align: center;
}
